h1 {text-align: center;}
h2{text-align: center;}
.card {text-align: center;
display:block;
margin:auto;}
#city {text-align: center;
font-family: 'Bebas Neue', cursive;
font-size: 40px;}
#humidity{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
font-size: 25px;}
#wind{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
font-size: 25px;}
#temp {text-align: center;
font-family: 'Bebas Neue', cursive;
font-size: 40px}
h3 {text-align: center;}